name: test-my-app

on: [push]

jobs:
  flutter_test:
    name: Run Flutter Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: "temurin"
          java-version: "17"
      - uses: subosito/flutter-action@v2
        with:
          channel: "stable"
      - name: Configure git to use GitHub token
        run: |
          git config --global url."https://github.com/".insteadOf git@github.com:
          git config --global url."https://${{ secrets.GITHUB_TOKEN }}@github.com/".insteadOf "https://github.com/"

      - run: flutter pub get
      - run: dart run build_runner build
      - run: flutter --version
      - run: flutter analyze --no-fatal-infos
      - run: flutter test
